@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navbar-icon{
        @apply relative flex items-center justify-center
        h-10 w-auto mt-2 mb-2 mx-2 p-3 
        bg-transparent text-white 
         hover:text-blue-200
        rounded-md hover:rounded-xl
        transition-all duration-100 ease-linear cursor-pointer
        hover:backdrop-blur-sm hover:backdrop-brightness-150
        hover:bg-gradient-to-br from-indigo-900 via-indigo-600 to-purple-900

    }

    .name-caligraphy{
        @apply relative flex items-baseline justify-center
        h-10 w-auto mt-2 mb-2 mx-2 p-3 mr-auto
        text-4xl font-heading
        
        bg-transparent text-white
        hover:text-blue-200
        rounded-md hover:rounded-xl
        transition-all duration-100 ease-linear;

    }
    html{
        scroll-behavior: smooth;

        @apply min-h-screen bg-gradient-to-br from-primary to-secondary flex overflow-hidden
    }
    img{
        pointer-events: none;
    }

    .btn span{
        @apply z-10 relative
    }
    .btn{
        @apply inline-flex relative 
        px-8 py-4 
        bg-gradient-to-br from-indigo-900 via-indigo-600 to-purple-900

        text-2xl overflow-hidden
        rounded-2xl
    }
    .btn::before{  

        @apply absolute top-[var(--y)] left-[var(--x)] content-[""] rounded-[50%]
        w-0 h-0
        bg-gradient-to-bl to-blue-900 via-primary from-secondary
        -translate-x-1/2
        -translate-y-1/2
        transition-all duration-500
        
  
    }
    
    .btn:hover::before{
        @apply w-[500px] h-[500px]
    }




    .gradient-nature{
        --tw-gradient-stops: transparent,#60a5fa, #116534,transparent
    }


}